.con {
    text-align: center;
    color: blue; /* Change the color to blue */
    margin-top: 5vh;
    padding: 10px;
    width: 80%;
    font-weight: 600;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.inp {
    width: 80%;
    height: auto;
}

.btn {
    margin-top: 8px;
}
